# Archivos de Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Archivos de entorno virtual
venv/
env/
*.env

# Archivos de configuración y secretos
*.sqlite3
*.log
*.pot
*.mo
db.sqlite3
media/
staticfiles/

# Archivos de migraciones
*/migrations/*.pyc
*/migrations/__pycache__/

# Configuración de IDEs y editores de texto
.vscode/
.idea/
*.swp
*.swo

# Archivos de Docker
*.pid
*.tar

# migraciones
*/migrations/__pycache__/
*/migrations/*.pyc